*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(18, 18, 18);
}

.game-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 60vh;
  margin: 0;
  border-radius: 5vh;
  background-color: rgb(40, 40, 40);
  box-shadow: 0px 0px 15px 5px #df00fe, 0 0 5px 5px #0ff;
}

.game-container .status-message {
  margin: 3vh 2vh 1vh 2vh;
  padding: 3vh;
  height: 10vh;
  text-align: center;
  font-size: 150%;
  font-weight: 600;
  color: white;
  text-shadow: 0px 0px 15px white;
  border-radius: 2vh;
  background-color: rgb(18, 18, 18);
}

.game-board section span {
  display: block;
  margin: 1.5vh 2vh 2vh 2.3vh;
  width: 15.5vh;
  height: 15.5vh;
  background: rgb(18, 18, 18);
  border-radius: 1vh;
  display: relative;
  font-size: 11vh;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 15px white;

  line-height: 16vh;
  cursor: default;
  user-select: none;
}

.game-container .options {
  display: absolute;
}

.game-container .options.active {
  display: flex;
  width: 100%;
}

.game-container .turns {
  display: none;
  width: 100%;
}

.game-container .turns.active {
  display: flex;
}

.options button,
.turns button,
.game-end button {
  margin: 1vh 2vh 1vh 2vh;
  width: 26vh;
  font-size: 150%;
  font-weight: 600;
  padding: 1vh;
  color: white;
  text-shadow: 0px 0px 15px white;
  border: none;
  outline: none;
  border-radius: 1vh;
  background-color: rgb(18, 18, 18);
  cursor: pointer;
  transition: all 0.3s ease;
}

.game-end button {
  width: 56vh;
}

.game-container .game-end {
  display: none;
  width: 100%;
}

.game-container .game-end.active {
  display: flex;
}

.turns button {
  cursor: auto;
}

.options button:hover,
.game-end button:hover,
.turns .current {
  color: white;
  background: #df00fe;
  box-shadow: 0 0 10px #df00fe, 0 0 40px #df00fe, 0 0 80px #df00fe;
  transform: scale(1.04);
}

.options button.playerX {
  margin-right: 1vh;
}

.options button.playerO {
  margin-right: 1vh;
}

.game-board section {
  display: flex;
}
